{% extends "base.html" %}
{% block content %}
<title>{% block title %}Reviews{% endblock %}</title>
<div class="row">
    <div class="col-md-12 mb-md-0 sm-12 mb-5 m-3 offset-5">
        <h2 class="mt-5 mx-auto">
        Do you want to give us some feedback?
        </h2>
        <a href="{% url 'comment' %}" class="btn rounded-0 btn-lg mb-5">
            <span class="purple_button p-1"
            ><i class="far fa-sticky-note"></i> Write a review</span>
        </a>
    </div>
</div>
      {% for comments in comments %}
      <div class="row purple-text">
        <div class="feedback col-md-6 lg-6 sm-6 md-0 mb-5 ml-3">
            <h5 class="info">
                Review number {{ forloop.counter }} by {{ comments.name }} {{ comments.created }}
            </h5>
            {{ comments.body|linebreaks }}
        </div>
        {% empty %}
      </div>
{% endfor %}
</div>
{% endblock %}