 <!--Footer wit copyright, social media icons
  to the bijoux and subscribe to newsletter button-->

         <footer class="footer container-fluid small-box-shadow">
             <div class="footer-copyright">
            <div class="container text">
              <a  href="https://github.com/krisztinatxt" class="float-left text-decoration-none text-white" title="Visit my GitHub" target="_blank" rel="noopener"> &copy; Krisztina Szabó </a>
               <a class="text-center float-right text-white" href="#"> 
               Subscribe to special offers 
               </a>
               <a href="https://www.facebook.com/zeezeebigyok/" target="_blank" rel="noopener"
                  class="waves-effect waves-light btn-small float-right btn-footer text-white" title="ZeeZee on Facebook">
               <i class="material-icons left fab fa-facebook-f"> </i>
               </a>
                <a href="https://www.instagram.com/zeezeewire/?igshid=wxn0gmviicv7" target="_blank" rel="noopener"
                  class="waves-effect waves-light btn-small float-right btn-footer text-white" title="ZeeZee on Instagram">
               <i class="material-icons left fab fa-instagram"> </i>
               </a>
            </div>
         </div>
         </footer>