<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bijoux-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               About ZeeZee
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bijoux-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bijoux-link">
                <a href="" class="dropdown-item">Rings</a>
                <a href="" class="dropdown-item">Earrings</a>
                <a href="" class="dropdown-item">Bracelets</a>
                <a href="" class="dropdown-item">Necklaces</a>
                <a href="" class="dropdown-item">All Bijoux</a>
            </div>
        </li>
        <li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bijoux-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contact
            </a>
        </li>
    </ul>
</div>