<li class="list-inline-item dropdown">
    <a class="text nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg text-white"></i></div>
            <p class="my-0 text-white">My ZeeZee</p>
        </div>
    </a>
    <!--If the user is a superuper, show the Product managment part, 
    otherwise display the Profile and Logout-->
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'add_new_product' %}" class="dropdown-item purple-text">Store Admin</a>
            {% endif %}
            
            <a href="" class="dropdown-item purple-text">Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item purple-text">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item purple-text ">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item purple-text">Login</a>
        {% endif %}
    </div>
</li>
<!--Shopping cart with the grand total of the shopping,
 if there is nothing in the bag, dislay 0 euro as total-->
<li class="list-inline-item">
    <a class="{% if grand_total %}cart-item font-weight-bold{% else %}cart{% endif %} nav-link d-block d-lg-none" href="{% url 'view_bag' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg cart"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>