{% extends "base.html" %}
{% load static %}
<title> {% block title %}Return a product{% endblock %} </title>
{% block content %}
<div class="container-fluid contact purple-text">
{% if new_sendback %}
  <h2 class="mt-5">Thanks for your request. We will get in touch with you in a 3 working days.</h2>
{% else %}
  <h2 class="mt-3">Add a new request</h2>
  <p>Please provide some information, why would you like to return the product.</p>
  <form action="." method="post">
    {{ sendback_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" class="purple_button" value="Add a request"></p>
  </form>
{% endif %}
</div>
{% endblock %}