{% extends "account/base.html" %}

{% load i18n %}
{% load socialaccount %}
{% providers_media_js %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">     
    <div class="row">
        <div class="col-md-12">
        <h1 class="purple-text ">{% trans "Sign Up" %}</h1>

        <p class="purple-text">{% blocktrans %}Already have an account or you want to use Facebook to login? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            <form class="signup purple-text" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="purple_button" type="submit">{% trans "Sign Up" %} &raquo;</button>
           
            
            
    
            </form>
        </div>
</div>
</div>
{% endblock %}

