<!--Load static and block title-->
{% extends "base.html" %}
{% load static %}
<title> {% block title %}About{% endblock %} </title>
{% block content %}
<div class="container-fluid about-page">
    <div class="row">
      <div class="col-md-12">
       <h2 class="text-center purple-about">ZeeZee - Because jewels dress you up </h2>
         <img class="mx-auto d-block z-depth-2 img-fluid image-responsive mx-auto d-block portrait  mt-5" alt="100x100" src="/media/about.jpg" data-holder-rendered="true">
      </div>
   <!--Introduction with heading and a paragraph-->
      <div class="col-md-12 text-center purple-about  mb-3">
         <h5> 
            The ZeeZee was born from a dream.<br> I wanted to create jewels that are Wild and Delicate at the same time, that have personalities and are not bound by the boundaries set by a certain style. They themselves are style. <br>
            My name is Bekő Fóri Zenkő, I am an actress and jeweler. <br> Creating keeps me fresh, it motivates me, creating makes me create. I incorporate myself into every piece of creation, whether it a role or a jewel. <br> I incorporate the world a little into every piece. I from it to be wearable. Every jewel and role then forms me.<br>
            That’s why jewelry is not simply a hobby. For me it’s an artform.
         </h5>
      </div>
   </div>
</div>

{% endblock %}