{% extends "base.html" %}

{% load static %}
<title> {% block title %}Contact{% endblock %} </title>
{% block content %}
<div class="container-fluid text-center purple-text">
    <div class="row">
        
    <div class="col-12 col-lg-5 col-sm-5 mx-auto">
      
            <h4>Let's get in touch!</h4>
            <form onsubmit="return sendMail(this);">
               <label for="name" class="label-name">Name:</label>
               <input type="text" name="name" id="name" placeholder="Your name..." required>
               <label for="email" class="label-email">Email:</label>
               <input type="email" name="emailaddress" id="emailaddress" placeholder="Your email address..." required>
               <label for="message" class="label-message">Message:</label>
               <textarea id="message" name="message" placeholder="Write your message here" required></textarea>
               <button class="btn waves-effect waves-light feedback_button" type="submit" value = "send" name="action">Submit </button>
            </form>
         </div>
      </div>
    </div>
 {% endblock %}
 