{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<title> {% block title %} Add new product {% endblock %} </title>
{% block content %}
<!--Render the products field so the user can add new products
after successfully added, load add product page, so it's easier to upload collections-->
    <div class="overlay"></div>
    <div class="container purple-text">
        <div class="row">
            <div class="col-12 col-md-12">
                <hr>
                <h2 class="purple-text mb-4">Product Management</h2>
                <h5 class="purple-text">Add a Product</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 purple-text">
                <form method="POST" action="{% url 'add_new_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn purple_button rounded-0" href="{% url 'products' %}">Cancel</a>
                        <button class="btn purple_button rounded-0" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}